@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto:300,400,700&display=swap');
body {
font-size: 14px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
color: #3d4246;
}
h1,h2,h3,h4,h5,h6 {
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
}
/* NAV */
.css-rdinti {
height: 80px;
}
.css-11uhv31 {
height: 80px;
    padding: 0;
}
.css-5ej9tq svg {
width: 23px;
    height: 23px;
}
.right-top {
display: block;
}
.right-top .login {
display: inline-block;
    position: relative;
    top: -5px;
    margin-right: 20px;
    color: white;
}
.main-menu ul {
padding-left:10px;
    margin: 0;
}
.right-top {
 padding-right:20px;
 }
 .right-top .css-5ej9tq {
 top:0;
 font-size:auto;
 }
 .right-top svg {
 fill:white;
 }
 .center_caption span {
     color: white;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }
    .logo {
    text-align: center;
}
.logo img {
width: 150px;
    padding: 20px;
}
.miniCart {
display:none;
position: absolute;
    right: -31px;
    top: 38px;
    width: 450px;
    background: white;
    padding: 0 20px;
    box-sizing: border-box;
}
.css-5ej9tq:hover .miniCart {
display:block;
}
/* FOOTER */
.footer-top {
display: block;
    overflow: hidden;
    margin-top: 100px;
}
.footer-top h3 {
font-size: 16px;
    font-family: "Work Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #3d4246;
    line-height: 1.5;
}
.grid-one-half {
float: left;
    width: 50%;
}
.footer-top a {
color: #3d4246;
text-decoration: none;
}
.subscribe .name {
    width: calc( 100% - 120px );
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px 0 0 2px;
    text-align: left;
    border: 1px solid #949494;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
}
.subscribe .submit {
font-size: 16px;
    text-transform: uppercase;
    padding: 15px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 120px;
    color: white;
    background: black;
    border: 1px solid black;
    }
    .footer-bottom {
    margin-top: 50px;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
}
.footer-sosmed {
display: inline-block;
    width: 300px;
}
.footer-sosmed svg {
width: 23px;
display:inline-block;
margin-right:20px;
}
.copy {
display: block;
    margin-top: 20px;
    font-size:14px;
}
.payment {
float: right;
}
.payment-icon {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
.payment-icons {
margin:0;
}
/* Product Page */
.productOption {
border: #e2e2e2 1px solid;
    height: 38px;
    width: 38px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
        margin-right: 10px;
        margin-bottom:10px;
            position: relative;
    }
    .productOption input {
    appearance: none;
        -webkit-appearance: none;
            border: 1px solid transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -3px;
    left: -3px;
    }
    .productOption input:checked {
    border: 1px solid black; 
    }
    .productOption input:focus {
    outline: none;
}
.Color .productOption {
color:transparent;
}
.Color .productOption .colorBox {
width: 26px;
    height: 26px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: #e2e2e2 1px solid;
}
.Color .productOption.Black .colorBox {
    background: black;
}
.Color .productOption.White .colorBox {
    background: white;
}
.thumbnailWrap {
display:inline-block;
    width: 23%;
    margin: 0 1%;
}
.qtyMinus, .qtyPlus {
background: #f2f2f2;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    height: 44px;
    display: inline-block;
    width: 44px;
    text-align: center;
    line-height: 44px;
    border: #e2e2e2 1px solid;
}
#quantity {
height: 46px;
    display: inline-block;
    width: 68px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    border-top: #e2e2e2 1px solid;
    border-bottom: #e2e2e2 1px solid;
    border-left: 0;
    border-right: 0;
    position: relative;
    top: -1px;
        -webkit-appearance: none!important;
    }
    input::-webkit-inner-spin-button {
    display:none;
    }
    .addToCart {
    width: 400px;
    background: black;
    color: white;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    }
    .optionwrap {
    margin-bottom:10px;
    }
    .qty {
        font-weight: bold;
    margin: 10px 0 -7px;
    display: block;
}
.optionTitle {
font-weight:bold;
margin:0 0 7px;
display:block;
text-transform:uppercase;
}
.colimg.ind1, .colimg.ind2, .colimg.ind3, .colimg.ind4, .colimg.ind5 {
display:none;
}