@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto:300,400,700&display=swap');
body {
font-size: 14px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
color: #3d4246;
}
h1,h2,h3,h4,h5,h6 {
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
}
/* NAV */
.css-rdinti {
height: 80px;
}
.css-11uhv31 {
height: 80px;
    padding: 0;
}
.css-5ej9tq svg {
width: 15px;
    position: relative;
    top: -3px;
}
.miniquan {
font-size: 14px;
    font-weight: 300;
    position: relative;
    top: -5px;
    margin-left: 5px;
    color:white;
}
.right-top {
display: flex;
    align-items: baseline;
}
.right-top .login {
display: inline-block;
    position: relative;
    top: -5px;
    margin-right: 20px;
    color: white;
}
.main-menu ul {
padding-left:10px;
    margin: 0;
}
.right-top {
 padding-right:20px;
 }
 .right-top .css-5ej9tq {
 top:0;
 font-size:auto;
 }
 .right-top svg {
 fill:white;
 }
 .center_caption span {
     color: white;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }
    .logo {
    text-align: center;
}
.logo img {
width: 150px;
    padding: 20px;
}
.miniCart {
display:none;
position: absolute;
z-index:2;
    right: -20px;
    top: 38px;
    width: 450px;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
.miniimage {
width:25%;
    max-height: 100px;
    overflow: hidden;
}
.miniimage img{
width:100%;
height:auto;
padding-right:20px;
box-sizing:border-box;
}
.css-5ej9tq:hover .miniCart {
display:block;
}
.miniCart p {
width:100%;
font-size: 13px;
    font-weight: 300;
        margin: 0;
        color:black;
            margin-bottom: 15px;
}
.miniprice {
width:15%;
font-size: 13px;
    font-weight: 600;
    color:black;
    text-align:right;
}
.miniprice button {
display:block;
}
.miniCart .minisub p {
    font-weight: 600;
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
    width:60%;
    }
    .minisub h5 {
    color: black;
    font-size: 14px;
    display: inline-block;
    width: 40%;
        letter-spacing: 0.5px;
}
.minicheck {
color: white;
    -webkit-appearance: none;
    background: black;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 0;
    }
/* FOOTER */
.footer-top {
display: block;
    overflow: hidden;
    margin-top: 100px;
}
.footer-top h3 {
font-size: 16px;
    font-family: "Work Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #3d4246;
    line-height: 1.5;
}
.grid-one-half {
float: left;
    width: 50%;
}
.footer-top a {
color: #3d4246;
text-decoration: none;
}
.subscribe .name {
    width: calc( 100% - 120px );
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px 0 0 2px;
    text-align: left;
    border: 1px solid #949494;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
}
.subscribe .submit {
font-size: 16px;
    text-transform: uppercase;
    padding: 15px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 120px;
    color: white;
    background: black;
    border: 1px solid black;
    }
.footer-sosmed {
display: inline-block;
    width: 300px;
}
.footer-sosmed svg {
width: 23px;
display:inline-block;
margin-right:20px;
}
.copy {
display: block;
    margin-top: 20px;
    font-size:14px;
}
.payment {
float: right;
}
.payment-icon {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
.payment-icons {
margin:0;
}
.footer-top h2 {
display: block;
    overflow: hidden;
    margin-top: 0;
    color:white;
}
.footer-top a, .footer-top a:visited, .footer-top li, .footer-top li:visited {
color: #7e7e7e;
font-size: 14px;
}
.footer-top img {
width:115px;
}
.copy-right {
border-top: 1px solid #1b1f23;
    padding-top: 20px;
}
.copy-right a {
color: #7e7e7e;
font-size: 14px;
text-decoration: none;
}
.copy-right a:hover {
color:white;
}
.footer-top li {
list-style:none;
margin-bottom: 20px;
}
/* Product Page */
.productOption {
border: #e2e2e2 1px solid;
    height: 38px;
    width: 38px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
        margin-right: 10px;
        margin-bottom:10px;
            position: relative;
    }
    .productOption input {
    appearance: none;
        -webkit-appearance: none;
            border: 1px solid transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin:0;
    }
    .productOption input:checked {
    border: 1px solid black; 
    }
    .productOption input:focus {
    outline: none;
}
.Color .productOption {
color:transparent;
}
.Color .productOption .colorBox {
width: 26px;
    height: 26px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: #e2e2e2 1px solid;
}
.Color .productOption.Black .colorBox {
    background: black;
}
.Color .productOption.White .colorBox {
    background: white;
}
.thumbnailWrap {
display:inline-block;
    width: 23%;
    margin: 0 1%;
}
.qtyMinus, .qtyPlus {
background: #f2f2f2;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    height: 44px;
    display: inline-block;
    width: 44px;
    text-align: center;
    line-height: 44px;
    border: #e2e2e2 1px solid;
}
#quantity, .mini_quantity_input {
height: 46px;
    display: inline-block;
    width: 68px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    border-top: #e2e2e2 1px solid;
    border-bottom: #e2e2e2 1px solid;
    border-left: 0;
    border-right: 0;
    position: relative;
    top: -1px;
        -webkit-appearance: none!important;
    }
    input::-webkit-inner-spin-button {
    display:none;
    }
    .addToCart {
    width: 400px;
    background: black;
    color: white;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    }
    .optionwrap {
    margin-bottom:10px;
    }
    .qty {
        font-weight: bold;
    margin: 10px 0 -7px;
    display: block;
}
.mini_quantity .qtyMinus, .mini_quantity .qtyPlus {
width: 30px;
    height: 30px;
    line-height: 33px;
}
.mini_description {
    width: 60%;
}
.mini_quantity_input {
    width: 30px;
    height: 30px;
    line-height: 33px;
    top: -4px;
}
.optionTitle {
font-weight:bold;
margin:0 0 7px;
display:block;
text-transform:uppercase;
}
.colimg.ind1, .colimg.ind2, .colimg.ind3, .colimg.ind4, .colimg.ind5 {
display:none;
}

/* CART page */
.cart_all_wrap {
overflow:hidden;
}
.cart_item_wrap {
display: block;
    width: 60%;
    float: left;
        padding-right: 50px;
    box-sizing: border-box;
}
.cart_total {
display: block;
    width: 40%;
    float: left;
    padding: 2rem 50px;
        box-sizing: border-box;
    border-left: 1px solid #dadada;
}
.cart_image_wrap {
width: 200px;
    max-height: 200px;
    overflow: hidden;
}
.cart_image_wrap img {
    width: 100%;
    height: auto;
}
.cart_detail_wrap {
width: calc( 100% - 200px );
    padding-left: 50px;
    box-sizing: border-box;	
}
.cart_detail_wrap p {
font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}
.option_name {
color:#8c8b8b
}
.option_wrap {
display:block;
}
.cart_detail_wrap span {
font-size: 13px;
}
.cart_detail_wrap .single_price {
font-size: 20px;
    margin: 15px 0 25px;
}
.cart_detail_wrap .qtyMinus, .cart_detail_wrap .qtyPlus {
    line-height: 27px;
}
.cart_detail_wrap .mini_quantity_input {
    top: -1px;
}
.cart_total h2 {
margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    width: 50%;
}
.cart_total p {
    text-align: right;
    display: inline-block;
    width: 50%;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 600;
}
.cart_total a {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}
.__affirm-logo {
    display: inline-block;
    position: relative;
        color: black;
}
.__affirm-logo.__ligature__affirm_full_logo__:after {
    content: "";
    border: 2px solid #0FA0EA;
    border-bottom: none;
    border-left: none;
}
.__affirm-logo.__ligature__affirm_full_logo__:after, .__affirm-logo.__ligature__affirm_short_logo__:after {
    position: absolute;
    right: -3px;
    bottom: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -1;
}
.bullet {
position: absolute;
    width: 20px;
    height: 6px;
    background: white;
    bottom: -3px;
    right: -5px;
}
.agree_wraper {
    margin: 15px 0;
}